profiles {
    k8s {
        params {
            input.reference_dir = "input"
            software.trimmomatic.clip_path = "/workspace/projects/systemsgenetics/gemmaker/files/fasta_adapter.txt"
        }
        process {
            executor = "k8s"
            cpus = 1
            memory = 8.GB

            withLabel:multithreaded {
                cpus = 8
                memory = 8.GB
            }
        }
        executor {
            queueSize = "${params.execution.queue_size}"
        }
    }
}
