// This Profile is meant as an example. it provides examples for a
// SLURM clsuter. It uses WSU's Kamiak cluster as an example. This profile
// should be used in conjunction with the singularity profile.
profiles {
    kamiak {
        process {
            executor = "slurm"
            queue = "kamiak"
            time = "24h"
            cpus = 1
            memory = 8.GB

            withLabel:multithreaded {
                cpus = 1
            }
        }
        executor {
            queueSize = "${params.execution.queue_size}"
        }
    }
}
