// This Profile is meant as an example. it provides examples for a
// PBS clsuter. It uses Clemson's Palmetto cluster as an example. This profile 
// should be used in conjunction with the singularity profile.
profiles {
    palmetto {
        process {
            executor = "pbspro"
            time = "8h"
            cpus = 1
            memory = 8.GB

            withLabel:multithreaded {
                cpus = 8
                memory = 8.GB
            }
        }
        executor {
            queueSize = "${params.execution.queue_size}"
        }
    }
}
