profiles {
    slurm {
        process {
            // The executor (i.e. job scheduler)
            executor = "slurm"

            // Change the queue name appropriately
            queue = "CHANGE_ME"

            // Directives. For more possible options see the Nextflow
            // documentation here:
            // https://www.nextflow.io/docs/latest/process.html#directives
            time = "24h"
            cpus = 1
            memory = 8.GB

            // Any additional options needed for your cluster
            // that are not provided by nextflow can be set here.
            clusterOptions = ""

            // Some tasks in GEMmaker support multiple threads on a single
            // node. If you want to allow more than one CPU for these tasks
            // increase this value.
            withLabel:multithreaded {
                cpus = 1
            }
        }

        // No need to change this setting. It is set in the main nextflow.config
        // file as the queue_size argument. It tells GEMmaker how many
        // jobs you can run on the SLURM scheduler at once.
        executor {
            queueSize = "${params.execution.queue_size}"
        }
    }
}
