params {

  // The path (full or relative) to the list of SRAs.
  // This must be a file with one SRR number per line.
  sra_list_path = './examples/SRA_IDs.txt'

  // A parameter for the reference genome.
  ref {
    // The full file system path the directory containing the 
    // genome reference files.
    path = "${PWD}/examples/reference"

    // The prefix (used by hisat2-build) for the genome reference files.
    prefix = 'GCA_002793175.1_ASM279317v1_genomic'
  }

  // Rename the <ILLUNIACLIP_PATH> to be the path where
  // the trimmomatic clipping files are housed.
  trimmomatic.clip_path = "<ILLUMINACLIP_PATH>"
  
  // This is a parameter for he minimum length of your RNA-seq reads. 
  // Change parameter based on dataset being used.
  trimmomatic.MINLEN = "30"
}


profiles {
  standard {
    process.executor = 'local'
  }
  slurm_cluster {
    process {
      executor = 'slurm'
      // Rename the <QUEUE_NAME> to that of your SLURM
      // queue and set any other options needed to submit the jobs.
      queue = 'QUEUE_NAME'
      cpus = 1
      time = '8h'
      maxRetries = 3
      errorStrategy = 'retry'
    }
    executor {
      queueSize = 10
    }
  }
}

