params {

  
  // This must be a file with one SRR number per line.
  sra_list_path = "${PWD}/ath_PRJNA313379/SRA_IDs.txt"

  // A parameter for the reference genome.
  ref {
    // The full file system path the directory containing the 
    // genome reference files.a
    path = "${PWD}/ath_PRJNA313379/reference"

    // The prefix (used by hisat2-build) for the genome reference files.
    prefix = 'TAIR10_Araport11'
  }

  trimmomatic.clip_path = "$ILLUMINACLIP_PATH"
  
  // This is a parameter for he minimum length of your RNA-seq reads. It will depend based on 
  // the sequencing technology you used.
  trimmomatic.MINLEN = "30"

}

profiles {
  standard {
    process.executor = 'local'
  }
  kamiak {
    process {
      executor = 'slurm'
      queue = 'ficklin'
      cpus = 1
      time = '16h'
      maxRetries = 1
      errorStrategy = 'retry'
    }
    executor {
      queueSize = 100
    }
  }
}

