/**
 * =============================================================================
 *                       GEMmaker Configuration File
 * =============================================================================
 * This file provides the configuration settings for the GEMmaker workflow.
 * It is designed to provide workflow parameter settings in this file. These
 * are the settings needed for proper execution of the workflow processes. More
 * advanced configuration settings are avilable via included configuration
 * files that are found in the ./config directory.
 *
 * Most users will only need to edit the settings in this file and
 * the appropriate profile settings file if executing AnnoTater other than
 * standalone.  GEMmaker provides default configuration files for
 * Standalone Docker, Standalone Singularity, and examples for clusters using
 * the SLURM and PBS schdulers. A Kubernetes cluster example is also prvided.
 *
 * See the online documentation at https://gemmaker.readthedocs.io/en/latest/
 * for more instructions for editing this config file.
 */

// These lines include the settings from the version and manifest configuration
// files. To ensure reproducibilty of the workflow, these configuration files
// should not be edited.
includeConfig "VERSION"
includeConfig "config/manifest.config"

params {
  project {
    name = "CORG RNA-Seq example"
    machine_name = "CORG_vs_samples"
    description = "This is the default project settings for GEMmaker. Use these setting to properly describe your project so that others can understand the purpose of your analysis."
  }

  input {
    // The unique name for the genome reference assembly. It must not contain
    // spaces or special characters, only alphanumeric characters and underscores.
    reference_name = "CORG"

    // If you are following the example setup, you do not need to change these
    // parameters.
    reference_dir = "input/references"
    input_data_dir = "input"
    remote_sample_list = "SRA_IDs.txt"
    local_sample_files = "*_{1,2}.fastq"
    skip_list_path = "samples2skip.txt"

    // Gene quantification tool inputs. Note, if you are only using one alignment
    // tool, i.e. kallisto, you do not need references for the other alignment tools
    hisat2 {
      enable = false
      index_dir = "CORG.genome.Hisat2.indexed"
      gtf_file = "CORG.transcripts.gtf"
    }
    kallisto {
      enable = true
      index_file = "CORG.transcripts.Kallisto.indexed"
    }
    salmon {
      enable = false
      index_dir = "CORG.transcripts.Salmon.indexed"
    }
  }

  output {
    // Universal output parameters
    dir = "output"
    sample_dir = { "${params.output.dir}/${sample_id}" }
    publish_mode = "link"
    publish_sra = false
    publish_downloaded_fastq = false
    publish_tpm = true
    publish_raw = true
    multiqc = true
    create_gem = true

    // Salmon and Kallisto specific parameters
    publish_gene_abundance = false

    // Hisat2 specific parameters
    publish_stringtie_gtf_and_ga = false
    publish_trimmed_fastq = false
    publish_bam = false
    publish_sam = false
    publish_fpkm = true
  }

  execution {
    queue_size = 4
  }

  software {
    trimmomatic {
      clip_path = "${baseDir}/files/fasta_adapter.txt"
      MINLEN = "0.7"
      quality = ""
      SLIDINGWINDOW = "4:15"
      LEADING = "3"
      TRAILING = "6"
    }
    failed_run_report {
       template_dir = "${baseDir}/files/failed_sra_runs.template.html"
    }
  }
}

// GENERAL SETTINGS
// ----------------
// The following includes default configurations that support reporting,
// containers, and default settings for execution of processes. If you need to
// override any of the settings in these files pleace do not edit the files
// themselves, but instead reenter the settings below to override them.
includeConfig "config/reports.config"
includeConfig "config/singularity.config"
includeConfig "config/docker.config"
includeConfig "config/process.config"

// PROFILE SETTINGS
// ----------------
// You will be executing AnnoTater on one ore more platforms. The following
// provides default configruation settings for multiple types of platform
// profiles.  You will want to override these settings for the platforms on
// which you are working.  Do not edit the config files listed here but instead
// you can override the settings in the space below.
includeConfig "config/profiles/docker.config"
includeConfig "config/profiles/singularity.config"
includeConfig "config/profiles/standard.config"
includeConfig "config/profiles/travis.config"
includeConfig "config/profiles/k8s.config"
includeConfig "config/profiles/palmetto.config"
includeConfig "config/profiles/kamiak.config"

// YOUR CUSTOMIZATIONS HERE
// ------------------------
// Overide default settings in this space
