params {
  ref {
    path = '/scidas/oryza_sativa/rice_PRJNA301554/Kamiak-GEM/reference'
    prefix = 'all'
  }
}

profiles {
  kamiak {
    process {
      executor = 'slurm'
      queue = 'ficklin'
      cpus = 1
      time = '8h'
      //maxRetries = 1
      //errorStrategy = 'retry'
      cache = true
    }
    executor {
      queueSize = 10
    }
  }
}

