/*
 * -------------------------------------------------
 *  GEMmaker Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */

process {

  cpus = { check_max( 1 * task.attempt, 'cpus' ) }
  memory = { check_max( 2.GB * task.attempt, 'memory' ) }
  time = { check_max( 24.h * task.attempt, 'time' ) }

  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'terminate' }
  maxRetries = 1
  maxErrors = '-1'

  withName:hisat2 {
    time = 48.h
  }
  withName:stringtie_fpkm_tpm {
    time = 48.h
  }
  withName:retrieve_sra_metadata {
    memory = 6.GB
  }
  withName:samtools_sort {
    time = 48.h
  }
  withName:samtools_index {
    time = 48.h
  }
  withName:stringtie {
    time = 48.h
  }
  withName:trimmomatic {
    time = 72.h
  }

  withLabel:local {
    executor = "local"
  }


}
