/*
 * -------------------------------------------------
 *  Nextflow config file for PBS executor
 * -------------------------------------------------
 * Defines a basic profile for running GEMmaker on a
 * system that uses the pbspro executor.
 */

pbspro {
    process {
        executor = "pbspro"
        clusterOptions = '-l select=1:interconnect=any'
    }
    executor {
        queueSize = "${params.max_jobs}"
    }
}