/*
 * -------------------------------------------------
 *  Nextflow config file for running full-size tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a full size pipeline test. Use as follows:
 *   nextflow run systemsgenetics/gemmaker -profile test_full,<docker/singularity>
 */

params {
    config_profile_name = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data for full size test
    pipeline = "kallisto"
    sras = "${baseDir}/assets/demo/SRA_IDs.txt"
    input = "${baseDir}/assets/demo/*{1,2}.fastq.gz"
    skip_samples = "${baseDir}/assets/demo/samples2skip.txt"
    kallisto_index_path = "${baseDir}/assets/demo/references/CORG.transcripts.Kallisto.indexed"
    salmon_index_path = "${baseDir}/assets/demo/references/CORG.transcripts.Salmon.indexed"
    hisat2_base_name = "CORG"
    hisat2_index_dir = "${baseDir}/assets/demo/references/CORG.genome.Hisat2.indexed"
    hisat2_gtf_file = "${baseDir}/assets/demo/references/CORG.transcripts.gtf"
}
