/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/gemmaker -profile test,<docker/singularity>
 */

params {
    config_profile_name = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    // Limit resources so that this can run on GitHub Actions
    max_cpus = 2
    max_memory = 6.GB
    max_time = 48.h

    // Input data
    sra_list_file = "${baseDir}/assets/demo/SRA_IDs.txt"
    input = "${baseDir}/assets/demo/*_{1,2}.fastq"
    skip_samples_file = "${baseDir}/assets/demo/samples2skip.txt"
    kallisto_index_path = "${baseDir}/assets/demo/references/CORG.transcripts.Kallisto.indexed"
    salmon_index_path = "${baseDir}/assets/demo/references/CORG.transcripts.Salmon.indexed"
    hisat2_base_name = "CORG"
    hisat2_index_dir = "${baseDir}/assets/demo/references/CORG.genome.Hisat2.indexed"
    hisat2_gtf_file = "${baseDir}/assets/demo/references/CORG.transcripts.gtf"
}
