manifest {
    homePage = "https://github.com/SystemsGenetics/GEMmaker"
    mainScript = "main.nf"
    defaultBranch = "master"
    nextflowVersion = ">=20.10"
    description = "A workflow for construction of Gene Expression count Matrices (GEMs). Useful for Differential Gene Expression (DGE) analysis and Gene Co-Expression Network (GCN) construction"
}
