process {
  container = "gemmaker/base:1.1"
  errorStrategy = { task.attempt < 3 ? "retry" : "terminate" }

  withLabel:local {
    executor = "local"
    time = "1h"
    memory = 1.GB
  }
  withLabel:fastqc {
    container = "gemmaker/fastqc:0.11.7-1.1"
    time = "24h"
  }
  withLabel:hisat2 {
    container = "gemmaker/hisat2:2.1.0-1.1"
    time = "48h"
  }
  withLabel:kallisto {
    container = "gemmaker/kallisto:0.45.0-1.1"
    time = "24h"
  }
  withLabel:multiqc {
    container = "gemmaker/multiqc:1.8-1.1"
  }
  withLabel:python3 {
    container = "gemmaker/python:3.8.5-1.2"
  }
  withLabel:salmon {
    container = "gemmaker/salmon:0.12.0-1.1"
    time = "24h"
  }
  withLabel:samtools {
    container = "gemmaker/samtools:1.9-1.1"
    time = "48h"
  }
  withLabel:sratoolkit {
    container = "gemmaker/sratoolkit:2.10.0-1.1"
    time = "48h"
  }
  withLabel:stringtie {
    container = "gemmaker/stringtie:1.3.4d-1.1"
    time = "48h"
  }
  withLabel:trimmomatic {
    container = "gemmaker/trimmomatic:0.38-1.1"
    time = "72h"
  }
}
