params {
    reports {
        failed_run_report {
           template_dir = "${baseDir}/files/failed_sra_runs.template.html"
        }
        publish_multiqc_report = true
    }
}

report {
    enabled = true
    file = "${params.output.publish_dir}/reports/report.html"
}

timeline {
    enabled = true
    file = "${params.output.publish_dir}/reports/timeline.html"
}

trace {
    enabled = true
    fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes,vol_ctxt,inv_ctxt,workdir,scratch,error_action"
    file = "${params.output.publish_dir}/reports/trace.txt"
    raw = true
}
